body {
  margin: 0;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  line-height: 24px;
  font-weight: 400;
  color: rgba(3, 0, 0, 0.87);
  margin: 0;
  box-sizing: border-box;
  background-color: #F5F7FB;
  color: #293264;
}

.blob2 {
  position: relative;
  bottom: -30%;
  left: -10%;
  height: 500px;
  width: 500px;
  margin: 0 0;
  z-index: -1;
  position: fixed;
}

.blob1 {
  position: relative;
  top: -30%;
  right: -10%;
  height: 500px;
  width: 500px;
  z-index: -1;
  position: fixed;
}

.startpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.apptitle{
  font-size: 4em;
}
.answers {
  font-weight: 500;
  color: #293264;
  border: 1px solid #293264;
  border-radius: 8px;
  background-color: transparent;
  margin: 8px;
}

.answers:hover {
  cursor: pointer;
}

hr {
  border: 1px solid #DBDEF0;
}

.quizpage {
  margin: auto;
  width: 800px;
  text-align: center;
}

.button {
  font-family: 'Karla', sans-serif;
  padding: 8px;
}

.start {
  border: 0px;
  border-radius: 15px;
  background-color: #293264;
  color: #F5F7FB;
  cursor: pointer;
  font-size: 16px;
  height: 50px;
  width: 200px;
}

.checkbtn {
  border: 0px;
  border-radius: 10px;
  background-color: #293264;
  color: #F5F7FB;
  cursor: pointer;
  height: 45px;
  width: 150px;
  margin: 30px;
}

.description{
  margin-top: 0;
  font-size: 20px;
}

input{
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  position: relative;
  height: 20px;
  line-height: 1;
  overflow: hidden;
  border-radius: .25em;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  color: #495057;
}
input:focus {
  border-color: #80bdff;
}

select {
  font-family: 'Karla', sans-serif;
  padding: .5em;
  font-size: 1em;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  appearance: none;
  overflow-y: hidden;
  
}

select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.select {
  padding: 1px;
  margin-left: 10px;
}

.amount{
  margin-top: 10px;
}

.options{
  font-size: 1em;
  line-height: 55px;
  padding: 30px;
  margin-bottom: 10px;
}

.check{
  display: flex;
  justify-content: center;
}

.score{
  align-items: center;
  display: flex
}