body {
  margin: 0;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  background-color: #F5F7FB;
  color: #293264;
}

.blob2 {
  position: relative;
  bottom: -30%;
  left: -10%;
  height: 500px;
  width: 500px;
  margin: 0 0;
  z-index: -1;
  position: fixed;
}

.blob1 {
  position: relative;
  top: -30%;
  right: -10%;
  height: 500px;
  width: 500px;
  z-index: -1;
  position: fixed;
}

.startpage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.apptitle {
  font-size: 4em;
}

.description {
  margin-top: 0;
  font-size: 20px;
}

input {
  width: 5em;
  height: 20px;
}

.select {
  font-family: 'Karla', sans-serif;
  font-size: 1em;
  padding: 1px;
  margin-left: 10px;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
  appearance: none;
}

.select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0, 123, 255, .25);
}

.options {
  margin-top: 20px;
  font-size: 1em;
  line-height: 55px;
  padding: 30px;
  margin-bottom: 10px;
}

.button {
  font-size: 1em;
  font-weight: 500;
  border: 0px;
  font-family: 'Karla', sans-serif;
  padding: 8px;
  cursor: pointer;
  color: #F5F7FB;
  background-color: #293264;
  border: 1px solid #293264;
}

.start {
  border-radius: 15px;
  
  height: 50px;
  width: 200px;
  margin-top: 20px;
}

.quizpage {
  margin: auto;
  width: 800px;
}

.answers {
  color: #293264;
  border-radius: 12px;
  background-color: transparent;
  margin: 8px;
}

hr {
  border: 1px solid #DBDEF0;
}

.checkbtn {
  border-radius: 12px;
  height: 45px;
  width: 150px;
  margin: 30px;
}

.check {
  display: flex;
  justify-content: center;
}

.score {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  /* Styles for mobile phones */
  body {
    font-size: 0.7em;
  }

  .apptitle {
    font-size: 3.2em;
  }

  .description {
    font-size: 1.2em;
  }

  .quizpage {
    width: 80%;
  }

  .options {
    margin-top: 5px;
  }

  .start {
    width: 150px;
    margin-top: 10px;
  }

  .checkbtn {
    width: 100px;
  }
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  /* Styles for tablets */
  body {
    font-size: 0.8em;
  }

  .apptitle {
    font-size: 3.5em;
  }

  .description {
    font-size: 1.25em;
  }

  .quizpage {
    width: 90%;
  }

  .start {
    width: 170px;
  }

  .checkbtn {
    width: 120px;
  }
}